This notebook is just for testing purposes.

In [ ]:
from functions.func_metar_df_module import metar_processing

In [ ]:
metar = metar_processing()
metar

In [2]:
from functions.func_flights_df_module import flights_processing

In [3]:
eita = flights_processing()
eita #= eita['flight_situation'].unique()

,origin,scheduled_departure,real_departure,destiny,expected_arrival,real_arrival,flight_situation
0,SBGL,01/12/2023 23:55,01/12/2023 23:56,KMIA,02/12/2023 07:45,02/12/2023 08:03,performed
1,KMIA,01/12/2023 23:55,01/12/2023 00:58,SBGL,02/12/2023 09:25,01/12/2023 09:02,performed
2,SBGR,01/12/2023 00:55,01/12/2023 00:08,KMIA,01/12/2023 08:35,01/12/2023 08:18,performed
3,KMIA,01/12/2023 20:50,01/12/2023 21:41,SBGR,02/12/2023 06:20,02/12/2023 06:06,performed
4,SBGR,01/12/2023 22:30,01/12/2023 22:26,KMIA,02/12/2023 06:00,02/12/2023 06:36,performed
...,...,...,...,...,...,...,...
83801,MTPP,26/12/2023 07:00,NaN,SBBV,26/12/2023 12:00,NaN,not reported
83802,MTPP,27/12/2023 10:00,NaN,SBBV,27/12/2023 14:00,NaN,not reported
83803,SBBV,27/12/2023 14:50,NaN,SVMI,27/12/2023 17:30,NaN,not reported
83804,LEMD,11/12/2023 11:00,NaN,SBSV,11/12/2023 20:10,NaN,not reported
83805,SBSV,15/12/2023 21:30,NaN,LEMD,16/12/2023 06:40,NaN,not reported